# >-----< EXCLUDES >-----< #

# [-]: Git files
.git/
.gitignore

# [-]: Repo files
LICENSE.md
README.md

# [-]: Test files
tests/

# [-]: Config files
.editorconfig

# [-]: Helm files
.helmignore

# [-]: macOS files
.DS_Store
